NEXT_PUBLIC_HERO_TYPE=slideshow
NEXT_PUBLIC_MAPS_EMBED_ID=YOUR_EMBED_ID_HERE
NEXT_PUBLIC_PHONE=+84-XXX-XXX-XXXX
NEXT_PUBLIC_ADDRESS=[Street], Ho Chi Minh City, Vietnam
NEXT_PUBLIC_EMAIL=hello@ovenista.com
NEXT_PUBLIC_INSTAGRAM=https://instagram.com/ovenista
NEXT_PUBLIC_FACEBOOK=https://facebook.com/ovenista
NEXT_PUBLIC_TIKTOK=https://tiktok.com/@ovenista
RESERVATION_WEBHOOK_URL=https://example.com/webhook
